<div id="info">

	<div class="text-outer">

		<div class="text-inner">

			<div class="slide-up">

				<h1>{{metadata.title}}</h1>

				<p>{{metadata.description}}</p>

				<div class="social">

					<div class="fb-like" data-href="{{metadata.url}}" data-size="small" data-layout="button" data-action="like" data-share="false" data-show-faces="false" data-colorscheme="dark"></div>
					<div class="tweet-button"></div>
					<a data-pin-do="buttonBookmark" href="https://www.pinterest.com/pin/create/button/"></a>

				</div>

			</div>

		</div>

	</div>

</div>
