<div id="info">

	<div class="text-outer">

		<div class="text-inner">

			<div class="slide-up">

				<h1>{{metadata.title}}</h1>

				<p>{{metadata.description}}</p>

			</div>

		</div>

	</div>

</div>
