.overlay {
	@include fill(fixed);

	.background {
		@include fill();
		cursor: pointer;
		background: rgba($black, 0.7);
	}

	.modal {
		@include center();
		padding: 24px;
		background: $black;
	}
}
