#info {

	.overlay {
		cursor: pointer;
		background: rgba($back-color, $overlay-opacity);

		.social {
			margin: 22px 0 0 0;

			> div,
			> iframe {
				margin: 0 2px !important;
				display: inline-block !important;
				vertical-align: text-bottom !important;
			}
		}
	}

	.button.info {
		top: 0;
		left: 0;
	}
}
