<div id="fallback" class="full">

	<div class="text">

		<h1>{{ metadata.title }}</h1>
		<br />
		<p>
			Unfortunately, your browser does not<br />
			support all of the required features
		</p>

	</div>

</div>
